.todoFilter {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.filterBtn {
	padding: 0.5rem 1rem;
	background: none;
	border-radius: var(--border-radius);
	color: var(--dark);
}

.filterBtn.active {
	background: var(--primary);
	color: white;
}

.filterBtn:hover:not(.active) {
	background: rgba(67, 97, 238, 0.1);
}
